# Used to initialize the Postgres container, then later to access Posrgres from the nexus-watcher test suite
POSTGRES_USER=antfarm_user
POSTGRES_PASSWORD=antfarm_pass
POSTGRES_DB=antfarm
POSTGRES_PORT=5432
TEST_PUBKY_CONNECTION_STRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?pubky-test=true
